* {
    margin: 0;
    border: 0;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.upperSection h4 a {
    font-size: 16px;
    color: aquamarine;
}

main {
    margin-top: 20px;
    margin-bottom: 30px;
}

.middleSection h2,h2 {
    font-size: 42px;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

figcaption {
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    margin-bottom: 10px;
}

img[src*='camp'] {
    width:max-content;
    margin-bottom: 30px;
}

 

 .lowerSection h4 a{
     font-size: 16px;
    color: aquamarine;
    align-items: center;
}

footer {
    margin-top: 40px;
    color: gray;
    align-self: flex-end;
    margin-right: 15px;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
